[submodule "webapp-client"]
	path = webapp-client
	url = https://github.com/crrood/webapp-client.git
[submodule "webapp-server"]
	path = webapp-server
	url = https://github.com/crrood/webapp-server.git
