[submodule "webapp-client-todo"]
	path = webapp-client
	url = git@github.com:crrood/webapp-client-todo.git
[submodule "webapp-server"]
	path = webapp-server
	url = git@github.com:crrood/webapp-server.git
